@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$brown-color: #A27B5C; 
$light-color: #F4F0E5;
$orange-color: #BD7B46;
$ocean-color: #3F4E4F;
$midnight-color: #1A2224;
$shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

$font-base: "Roboto Mono", serif;
$font-header: "Poppins", serif;

$fw-4: 400; 
$fw-5: 500;
$fw-7: 700; 

$transition: all 0.3s ease-in-out;

